@import "tailwindcss";

@theme {

  --color-primary: #fe8401;
  --color-secondary: #280e8e;
  --color-gray-2: #c4c4c4;
  --color-gray-3: #8c8c8c;
  --color-border: #555555;
  --color-text-color: #333333;
  --font-base: "Roboto" sans-serif;
}